.book-view-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .book-details {
    display: flex;
    gap: 20px;
  }
  
  .book-photo {
    max-width: 70%; /* Убедитесь, что изображение не выходит за пределы контейнера */
    max-height: 400px; /* Установите максимальную высоту по вашему усмотрению */
    object-fit: cover; /* Обеспечивает, чтобы изображение заполняло контейнер, обрезая его при необходимости */
    border: 2px solid #ddd; /* Рамка для фото */
    border-radius: 8px; /* Закругление углов рамки */
    padding: 5px; /* Отступы вокруг изображения, чтобы рамка не прилегала вплотную */
    background-color: #f9f9f9; /* Цвет фона, чтобы выделить рамку */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения */
}
  
  .book-info {
    flex: 1;
  }
  
  .get-book-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-book-button:hover {
    background-color: #0056b3;
  }
  